.KitchenPage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.Refridgerator {
    background-color: white;
}

.Pantry {
    background-color: white;
}

img {
    max-width: 25%;
}

img:hover {
    max-width: 26%;
}
