.NavBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}
  
.NavBar-link {
    margin: 10px;
    color: #FFFAE3; 
}
  
.NavBar-welcome {
    color: #FFFAE3;
}